# Created by .ignore support plugin (hsz.mobi)
.idea
*/node_modules
build/bundle.js
build/bundle.css

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules/
